    <beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"
	xsi:schemaLocation="
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-2.5.xsd
		http://code.alibabatech.com/schema/dubbo http://code.alibabatech.com/schema/dubbo/dubbo.xsd">

		<!-- 必须有 start-->
		<dubbo:application name="${application.name}" owner="${application.owner:kevin}" />

		<dubbo:registry protocol="zookeeper" address="${registry.address}" />

		<!-- 用dubbo协议在20880端口暴露服务 -->
		<dubbo:protocol
				name="dubbo"
				port="${protocol.port}"
				threadpool="fixed"
				threads="100"
				buffer="8192"
				accepts="1000"
				accesslog="true"
				payload="88388608"
				heartbeat="0" />
		<!-- qos -->
		<dubbo:annotation package="tv.acframework.qos.collector.dubbo"/>
		<!-- 必须有 end-->

		<!-- 声明需要暴露的服务接口 -->
		<dubbo:service ref="acImNotifyService" interface="tv.acfun.im.pushservice.service.AcImNotifyService" version="1.0.0"/>
</beans>